name: audioplayers
description: A fork of the AudioPlayer Flutter plugin to enable the new WebAudio features (not yet available in official release)
version: 0.14.3
homepage: https://github.com/luanpotter/audioplayer

flutter:
  plugin:
    platforms:
      android:
        package: xyz.luan.audioplayers
        pluginClass: AudioplayersPlugin
      ios:
        pluginClass: AudioplayersPlugin
      macos:
        pluginClass: AudioplayersPlugin
      web:
        pluginClass: AudioplayersPlugin
        fileName: audioplayers_web.dart

dependencies:
  uuid: ^2.0.4
  howler: ^1.0.3
  path_provider: ^1.5.1
  flutter:
    sdk: flutter
  flutter_web_plugins:
    sdk: flutter

dev_dependencies:
  flutter_test:
    sdk: flutter
  http: ^0.12.0+3
  test: ^1.9.4

environment:
  sdk: ">=2.0.0-dev.50.0 <3.0.0"
  flutter: ">=1.10.0 <2.0.0"
